hr {
	height: 5px;
	border-width: 0;
	color: #00b359;
	background-color: #00b359;
}

a:link {
	color: #00b359;
}

a:visited {
	color: #00b359;
}

a:hover {
	color: #00e673;
	text-decoration: none;
}

.home-heading {
	font-weight: bold;
	font-size: 20px;
}

.project-heading {
	font-size: 25px;
	font-weight: bold;
}

.project-title {
	color: black;
	font-weight: bold;
}

.project-content {
	margin-left: 20px;
}

.time {
	margin-left: 20px;
	font-style: italic;
}

.spacer {
	height: 30px;
}

.small-spacer {
	height: 15px;
}

.tiny-spacer {
	height: 10px;
}

.author-highlight {
	color: #AB92BF;
}